<IfModule authz_core_module>
  Require all denied
  <FilesMatch ".js|.css|.woff|.woff2|.ttf|.otf|.eot|.jpg|.jpeg|.png|.gif|.svg|.cur|.ico">
    Require all granted
  </FilesMatch>
</IfModule>
<IfModule !authz_core_module>
  Deny from all
  <FilesMatch ".js|.css|.woff|.woff2|.ttf|.otf|.eot|.jpg|.jpeg|.png|.gif|.svg|.cur|.ico">
    Allow from all
  </FilesMatch>
</IfModule>